<h1>Representatives:</h1>

<ul>
  <% @representatives.each do |representative| %>
  <p><%=link_to representative.name, representative_path(representative) %> </p>
  <% end %>
</ul>

<% if user_signed_in? %>
<%= link_to "Put a new representative on blast!", new_representative_path %>
<% end %>
