// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

.nav-link-right {
  float: right;
}

ul li img {
  vertical-align: middle;
  padding-top: 3px;
}

.card-image {

   width: 200px;
   height: 250px;
   margin-bottom: 5px;
}
