// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

.nav-link-right {
  float: right;
}

ul li img {
    vertical-align: middle;
    padding-top: 3px;
}

ul li input[type=submit] {

}

img {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}
